.dulce{
    background-color: white;
}

footer{
    text-align: center;
    padding: 127px;
    background-color: darkgray;
    color:white
}
.emely{
    background-color: rgb(83, 142, 210);   
}
.card{
    margin: 10px;
}
.darlyn{
    background-color: darkgray;
}